<div class="w-full">
  <div class="m-8">
    <div class="flex justify-between">
      <h1 class="font-bold text-4xl my-4">Users</h1>
      <%= link_to "New User", new_user_path, data: { turbo_frame: dom_id(User.new) }, class: "btn btn-sm btn-primary" %>
    </div>
    <%= form_with url: deleteall_users_path, method: :delete, data: { turbo_frame: "_top" } do |form|  %>
      <%= submit_tag "Bulk Delete", class: "btn btn-sm btn-error" %>
      <div class="flex">
        <div class="px-4"></div>
        <div class="w-full py-4 grid grid-cols-5 gap-4 font-bold">
          <div>First name</div>
          <div>Last name</div>
          <div>Email</div>
          <div>Phone</div>
          <div></div>
        </div>
      </div>
      <%= turbo_frame_tag User.new %>
      <%= turbo_frame_tag "users" do %>
        <%= render @users %>
      <% end %>
    <% end %>
  </div>
</div>

